$accordion-item-spacing: false !default;
$accordion-item-gutter: 15px !default;
$accordion-item-border: solid 1px #e5e5e5 !default;
$accordion-item-border-radius: 10px !default;

$accordion-transition: true !default;
$accordion-transition-speed: 250ms !default;
$accordion-transition-timing: ease-in-out !default;
$accordion-transition-timeout: 0s !default;