@mixin core-accordion {
	.accordion {

	}

	.accordion-item {
		@if $accordion-item-border != false {
			border: $accordion-item-border;
		}

		@if $accordion-item-gutter != false {
			padding: $accordion-item-gutter;
		}

		@if $accordion-item-border-radius > 0 {
			@if $accordion-item-spacing != false {
				border-radius: $accordion-item-border-radius;
			} @else {
				&:first-child {
					border-bottom-right-radius: 0;
					border-bottom-left-radius: 0;
				}

				&:last-child {
					border-top-right-radius: 0;
					border-top-left-radius: 0;

					border-radius: 0 0 $accordion-item-border-radius $accordion-item-border-radius;
				}

				&:only-child {
					border-radius: $accordion-item-border-radius;
				}
			}
		}


		+ .accordion-item {
			@if $accordion-item-spacing != false {
				margin-top: $accordion-item-spacing;
			} @else {
				@if $accordion-item-border != false {
					border-top: 0;
				}
			}
		}
	}

	.accordion-item-content {
		.__accordion-item--ready > & {
			position: relative;
			height: 0;

			@if $accordion-transition {
				opacity: 0;
				visibility: hidden;
				overflow: hidden;

				@include transition(
					(height $accordion-transition-speed $accordion-transition-timing $accordion-transition-timeout),
					(opacity $accordion-transition-speed $accordion-transition-timing $accordion-transition-timeout),
					(visibility 0s $accordion-transition-timing $accordion-transition-speed)
				);
			} @else {
				display: none;
			}

		}

		.__accordion-item--active > & {
			@if $accordion-transition {
				opacity: 1;
				visibility: visible;

				@include transition(
					(height $accordion-transition-speed $accordion-transition-timing $accordion-transition-timeout),
					(opacity $accordion-transition-speed $accordion-transition-timing $accordion-transition-timeout),
					(visibility 0s linear 0s)
				);
			} @else {
				display: block;
			}
		}
	}
}